body {
	background-color: #232323;
	margin: 0;
	font-family: "Montserrat", "Avenir";
}

.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
	transition: background 0.6s;
}

#container {
	max-width: 600px;
	margin: 0 auto;
}

h1 {
	color: #fff;
	text-align: center;
	line-height: 1.1;
	font-weight: normal;
	text-transform: uppercase;
	background-color: steelblue;
	margin: 0;
	padding: 20px 0;
}

#color-display {
	font-size: 200%;
}

#message {
	display: inline-block;
	width: 20%;
}

#stripe {
	background-color: #fff;
	height: 30px;
	text-align: center;
	color: #000;
}

.selected {
	color: #fff;
	background-color: steelblue;
}

button {
	border: none;
	outline: none;
	background: none;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
}

button:hover {
	color: #fff;
	background: steelblue;
}